.statistics {
    background-color: white;
    margin: 30px;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 400;
    display: inline-block;
    height: 100px;
    margin: 30px auto;
    text-transform: uppercase;
    color: gray
}

.stat-list {
    height: 100px;
    list-style: none;
    transform: translate(-40px, 0px);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: auto;
}

.stat-item {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}